@model Talisman.Domain.Entities.Service

@{
    ViewBag.Title = "Создание новой услуги";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}

<h2>Создание новой услуги</h2>
@Html.ValidationSummary()
@using (@Html.BeginForm("CreateService", "Admin", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(a => a.ServiceName, "Введите название услуги")
        @Html.TextBoxFor(a => a.ServiceName, new { @class = "form-control" })

        @Html.LabelFor(a => a.Article, "Введите текст описания услуги")
        @Html.TextAreaFor(a => a.Article, new { @class = "form-control", rows = 15 })

    </div>
    <button class="btn btn-success">Сохранить</button>
    @Html.ActionLink("Отмена", "Services", null, new { @class = "btn btn-default" })

}

