@model IEnumerable<Talisman.Domain.Entities.Service>

@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Услуги</h3>
    </div>
    <div class="panel-body">
        @if (TempData["messageNotDel"] != null)
        {
            <div class="alert alert-danger">@TempData["messageNotDel"]</div>
        }
        @if (TempData["messageOkDel"] != null)
        {
            <div class="alert alert-success">@TempData["messageOkDel"]</div>
        }
        @if (TempData["messageCreateOk"] != null)
        {
            <div class="alert alert-success">@TempData["messageCreateOk"]</div>
        }
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Название</th>
                <th>Видимость</th>
                <th colspan="2" class="text-center">Действия</th>

            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">Нет услуг</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td class="text-center">@item.ServiceName</td>
                        <td>
                            @if (item.Visible)
                            {
                                <span class="glyphicon glyphicon-ok gOk"> Отображается</span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove-circle gNo"> Не отображается</span>
                            }
                        </td>
                        <td class="text-center">
                            @using (Html.BeginForm("DeleteService", "Admin"))
                            {
                                @*@Html.Hidden("сategoryId",item.Article)*@
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit"
                                       class="btn btn-danger btn-xs"
                                       value="Удалить" />
                            }

                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Редактировать", "EditService", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить новую услугу", "CreateService", null,
new { @class = "btn btn-success" })
    </div>
</div>

